@use "../mixin/surfaces";
@use "../mixin/typography";

@mixin component {
	&-labeled-container {
		> .label {
			span {
				@include surfaces.foreground {
					@include typography.monospace;
					display: inline-block;
					padding: 0.25rem 0.5rem;
					border-top-left-radius: 0.25rem;
					border-top-right-radius: 0.25rem;

					background: var(--fbtf-on-surface-border-default);
				}
			}

			+ .content {
				border-top-left-radius: 0;
			}
		}

		> .content {
			border: 1px solid var(--fbtf-on-surface-border-default);

			border-radius: 0.25rem;
			overflow: hidden;

			@include surfaces.foreground {
				// 				border-top: 0.0625rem solid white;
			}
		}
	}
}
