@use "../mixin/surfaces";
@use "../mixin/typography";

@mixin component {
	&-labeled-container {
		> .label {
			span {
				@include typography.monospace;
				display: inline-block;
				font-size: 1.125em;
				font-weight: bolder;
				padding: 0.25rem 0;
			}
		}

		> .content {
			overflow: hidden;

			@include surfaces.foreground {
			}
		}
	}
}
