<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Root Element -->
<th:block th:fragment="root(character, attribute)">
    <fbtf-element-playbook-attribute-display th:label="${attribute.label}" th:value="${character.dotsForAttribute(attribute)}">
        <th:block th:each="action : ${attribute.actions}" th:attr="data-dots=${character.dotsForAction(action)}">
            <fbtf-element-playbook-action-display th:value="${character.dotsForAction(action)}">[[${action.label}]]</fbtf-element-playbook-action-display>
        </th:block>
    </fbtf-element-playbook-attribute-display>
</th:block>


</body>
</html>