<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Root Element -->
<th:block th:fragment="root">
    <header class="fbtf-component-global-header">

        <th:block th:replace="~{svg/logos :: forged-by-the-fox}" />

        <a class="site-name" th:href="${ctx.url.resolve('/')}"><span>Forged</span><span>by the</span><span>Fox</span></a>

        <!-- TODO MENU -->

        <div class="spacer"></div>

        <th:block th:if="${ctx.account}">
            <a href="#" hx-delete="/auth"><span>Sign Out</span><img th:src="${ctx.account.profilePictureUrl}" /></a>
        </th:block>

        <th:block th:unless="${ctx.account}">
            <a th:href="${ctx.url.resolve('/auth')}"><span>Sign In</span><th:block th:replace="~{svg/icon :: key}" /></a>
        </th:block>

    </header>
</th:block>


</body>
</html>