<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Root Element -->
<th:block th:fragment="root">
    <div class="fbtf-component-stress-meter">
        <th:block th:replace="~{component/loading-indicator :: root }" />
        <label>Stress</label>
        <ul>
            <li th:each="i:${#numbers.sequence(1, 9)}"
                hx-trigger="click"
                th:hx-post="'/fragments/characters/' + ${ctx.character.identifier} + '/stress-bar'"
                hx-swap="outerHTML"
                hx-target=".fbtf-component-stress-meter"
                hx-include="this"
                hx-indicator=".fbtf-component-stress-meter .htmx-indicator"
                th:title="(${ctx.character.stress >= i} ? 'Remove' : 'Add') + ' ' + (${ctx.character.stress >= i} ? ${ctx.character.stress - i + 1} : ${i - ctx.character.stress}) + ' stress.'"
            >
                <input type="hidden"
                       th:name="${ctx.character.stress >= i} ? 'decrement' : 'increment'"
                       th:value="${ctx.character.stress >= i} ? ${ctx.character.stress - i + 1} : ${i - ctx.character.stress}" />
                <span type="button"><th:block th:if="${ctx.character.stress >= i}">
                    <th:block  th:replace="~{svg/icon :: cross}" />
            </th:block></span>
            </li>
        </ul>
    </div>
</th:block>


</body>
</html>