<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Standard Meta -->
    <th:block th:fragment="meta">
        <meta charset="utf-8" />
        <meta name="robots" content="noindex, noimageai, noai" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </th:block>

    <!-- Stylesheets -->
    <th:block th:fragment="stylesheets">
<!--        <link rel="stylesheet" th:href="${ctx.url.resolve('/styles/reset.css')}">-->
        <link rel="stylesheet" th:href="${ctx.url.resolve('/styles/core.css')}">
<!--        <link rel="stylesheet" th:href="${ctx.url.resolve('/styles/components.css')}">-->
<!--        <link rel="stylesheet" th:href="${ctx.url.resolve('/styles/layouts.css')}">-->
<!--        <link rel="stylesheet" th:href="${ctx.url.resolve('/styles/pages.css')}">-->
        <script type="text/javascript" th:src="${ctx.url.resolve('/scripts/htmx.js')}"></script>
    </th:block>

    <!-- Progressive Web App -->
    <th:block th:fragment="pwa">
        <link rel="manifest" th:href="${ctx.url.resolve('/manifest.json')}">
    </th:block>

    <!-- Web Components -->
    <th:block th:fragment="web-components">
        <script type="text/javascript" th:src="${ctx.url.resolve('/scripts/web-components.js')}"></script>
    </th:block>

</body>
</html>