@use "../mixin/surfaces";
@use "../mixin/typography";

@mixin component {
	&-character-tidbits {
		@include typography.monospace;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		white-space: nowrap;

		span + span:before {
			content: "\002022";
			opacity: 0.666;
			display: inline-block;
			margin: 0 0.25rem;
		}
	}
}
