@use "../mixin/surfaces";
@use "../mixin/typography";

@mixin component {
	&-global-header {
		@include surfaces.deep-black {
			@include typography.monospace;

			padding: 0 1rem 0 0.5rem;

			display: flex;
			gap: 0;
			justify-content: flex-start;
			align-items: center;
			min-height: 2.5rem;
		}
		.spacer {
			flex: 1 100%;
		}

		img {
			height: 2.5rem;
			border-radius: 0.25rem;
			margin: 0.25rem;
		}

		a {
			opacity: 0.666;
			cursor: pointer;
			white-space: nowrap;

			display: flex;
			align-items: center;
			gap: 0.5rem;

			padding: 0.5rem;

			font-size: 1rem;

			&:hover {
				opacity: 1;
				background: var(--fbtf-surface-color-hover);
			}
		}

		.site-name {
			@include typography.monospace;
			text-transform: uppercase;
			display: block;
			span {
				display: block;
				text-align: left;
				line-height: 0.9em;
			}
		}

		svg {
			height: 2.5rem;

			&.fbtf-svg-logo {
				height: 3rem;
				flex: none;
				padding: 0.5rem 0;
			}
		}

		@media (pointer: coarse) {
			img {
				height: 2.5rem;
			}

			a {
				padding: 0.5rem 0.25rem;
			}
		}
	}
}
