@use "../mixin/surfaces";
@use "../mixin/typography";

@mixin component {
	&-welcome {
		@include typography.monospace;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		svg {
			width: 10rem;
			opacity: 0.666;
		}

		h1 {
			font-size: 4rem;
			text-transform: uppercase;

			span {
				display: block;
				text-align: left;
				line-height: 3.25rem;
				font-size: 4rem;
			}
		}
	}
}
