<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forged by the Fox</title>
    <th:block th:replace="~{fragment/core :: meta}" />
    <th:block th:replace="~{fragment/core :: stylesheets}" />
    <th:block th:replace="~{fragment/core :: pwa}" />
    <th:block th:replace="~{fragment/core :: web-components}" />

    <style>
        body {
            display: grid;
            grid-template-columns:  fit-content() 1fr;
        }

        body > header {
            grid-column: 1 / span 2;
        }

        body > main {
            grid-column: 1 / span 2;
            min-height: calc(100vh - 4rem);
        }

        body > *:not(header) + main {
            grid-column: auto / span 1;
        }


    </style>
</head>
<body>
    <th:block th:replace="~{component/global-header :: root}" />
    <th:block th:replace="~{component/campaign-sidebar :: root(${ctx.campaign}, ${ctx.account})}" />
    <main class="character-sheet">

        <fbtf-element-playbook-action-display value="2">Doctor</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="0">Hack</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="0">Rig</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="1">Study</fbtf-element-playbook-action-display>

        <hr />

        <fbtf-element-playbook-action-display value="0">Helm</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="0">Scramble</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="0">Scrap</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="1">Skulk</fbtf-element-playbook-action-display>

        <hr />

        <fbtf-element-playbook-action-display value="1">Attune</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="0">Command</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="0">Consort</fbtf-element-playbook-action-display>
        <fbtf-element-playbook-action-display value="2">Sway</fbtf-element-playbook-action-display>


    </main>
</body>
</html>