<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forged by the Fox</title>
    <th:block th:replace="~{fragment/core :: meta}" />
    <th:block th:replace="~{fragment/core :: stylesheets}" />
    <th:block th:replace="~{fragment/core :: pwa}" />
    <th:block th:replace="~{fragment/core :: web-components}" />

    <style>

        #character-content {
            margin: 0.5rem 0;
            display:grid;
            grid-template-columns:1fr;
            gap:0.25rem;
        }

        #character-content > li {
            cursor:pointer;
            font-size: 0.8rem;
            display: block;
            background:var(--fbtf-surface-color-muted);
            padding: 0.5rem 1rem;
        }

        @media (max-width: 60rem) {
            main {
                grid-template-columns:1fr;
            }

            #character-content
                grid-template-columns:1fr;
            }
        }
    </style>
</head>
<body>
    <th:block th:replace="~{component/global-header :: root}" />

    <main class="fbtf-layout-dual-centerfold-columns">
        <div class="fbtf-component-welcome">
            <th:block th:replace="~{svg/logos :: forged-by-the-fox}" />
            <h1><span>Forged</span><span>by the</span><span>Fox</span></h1>
        </div>

        <div style="width:100%; max-width: 40rem;margin:1rem;padding: 1rem 0.5rem;display:flex;flex-direction:column;gap:1rem;">

            <th:block th:if="${ctx.characters}">
                <div class="fbtf-component-panel">
                    <h2 style="padding:0.5rem 1rem; font-size: 1.15rem; font-weight: bold;">Your characters</h2>
                    <ul id="character-content" style="">
                        <th:block th:each="character: ${ctx.characters}">
                            <li>
                                <a th:href="${ctx.url.resolve('/characters/' + character.identifier.value)}"
                                   th:text="${character.name} ?: 'Unnamed Character'"
                                   style="text-decoration:underline;font-weight:bolder;display:inline-block;font-size:1rem;"></a>
                                <br />
                                <a th:href="${ctx.url.resolve('/characters/' + character.identifier.value)}" th:text="${character.alias}" style="font-family:monospace;" ></a>
                                &nbsp;
                                <a th:href="${ctx.url.resolve('/characters/' + character.identifier.value)}" th:text="${character.playbook.label}" style="font-family:monospace;" ></a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>

            <div class="fbtf-component-panel">
                <h2 style="padding:0.5rem 1rem; font-size: 1.15rem; font-weight: bold;">Start a new character</h2>

               <form id="create-content" method="post" th:action="${ctx.url.resolve('./')}" style="padding: 0 1rem;display:grid;grid-template-columns:1fr;">
                    <fieldset style="margin: 0.5rem 0;">
                        <legend style="text-decoration:underline;font-weight:bolder;padding-bottom: 0.25rem;">Playbook</legend>
                        <select name="playbook">
                            <option value=""></option>
                            <option value="MECHANIC">Mechanic</option>
                            <option value="MUSCLE">Muscle</option>
                            <option value="MYSTIC">Mystic</option>
                            <option value="PILOT">Pilot</option>
                            <option value="SCOUNDREL">Scoundrel</option>
                            <option value="SPEAKER">Speaker</option>
                            <option value="STITCH">Stitch</option>
                        </select>
                    </fieldset>

                    <button type="submit" class="fbtf-component-button" style="margin: 0.5rem 0;">Create Character</button>

                </form>
            </div>

        </div>
    </main>
</body>
</html>